{{define "Home"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Street Shop</title>
</head>
<body>

   <header>
        <a href="/"><p class = "HeaderIcon">Home</p></a>
        <a href="/ajouter"><p class = "HeaderIcon">Add</p></a>
        <img class="logo" src="./static/img/logo/1.png" alt="logo de la marque Street Shop">
   </header>   

   <h1>LES <br> PRODUITS</h1>

   <div class="product-list">
        {{range .}}
        <div class="product">
            <img class="product-image" src="{{.Img}}" alt="{{.ImgAlt}}">
            <div class="product-info">
                <p>{{.Name}}</p>
                <br>
                {{if .IsReduc}}
                <span class="old-price">{{.Prix}}€</span>
                <span class="reduc">-{{.PourcentageReduc}}%</span>
                <span class="new-price">{{.PrixReduit}}€</span>

                {{else}}
                <span class="price">{{.Prix}}€</span>
                {{end}}
                <br>
                <a href="/produit?id={{.Id}}"><button class="btn">Consulter</button></a>

            </div>
        </div>
        {{end}}
   </div>
</body>
</html>
{{end}}